@import "tailwindcss";

/* 스크롤 허용 + 기본 스타일 */
html, body {
  min-height: 100%;
  height: auto;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
